*{
	box-sizing: border-box;
}
html,body{
	height: 100%;
}
body{
	margin: 0;
	color: grey;
	&.active{
		overflow:hidden;
	}
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	& li{
		margin: 0 12px;
		transition-duration: 0.5s;
		&:hover{
			color: blue;
			transform: translateY(-2px);
			text-shadow: 3px 3px 4px grey;
		}
	}
}
.wrapper{
	max-width: 1366px;
	margin: 0 auto;
	background: white;
}
.container{
	margin: 0 auto;
	max-width: 1310px;
	padding: 0 15px;
	@media(max-width: 768px){
		max-width: 608px;
		.menu,.switch{
			opacity: 0;
			transition-duration: 1.5s;
			z-index: -1;
			font-size: 56px;
			position: absolute;
		}
		.menu{
			white-space: nowrap;
			top: 80px;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 70px 0 0 10%;
			background:white;
			ul{
				display:block;
			}
			li{
				margin: 10px 0;
			}
			&:before{
				content:"Меню";
				font-size: 24px;
				position: absolute;
				top: 0;
				@media(max-width: 425px){
					font-size: 18px;
					top: -25px;
				}
			}
			&.active{
				opacity: 1;
				z-index: 30;
			}
		}
		.switch{
			left: 10%;
			bottom: 100px;
			&.active{
				opacity: 1;
				z-index: 30;
			}
		}
		.burger{
			display: flex;
		}
	}
	@media(max-width: 425px){
		header{
			padding: 9px 0;
		}
		.menu{
			top: 60px;
			padding-top: 50px;
			&:before{
				top: 15px;
			}
		}
		.menu,.switch{
			font-size: 36px;
		}
		.logo{
			font-size:14px ;
		}
		.reg{
			display: none;
		}
		.reg-img{
			display: block;
		}
	}
}
header{
	padding: 18px 0;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& input{
		display: none;
		&:checked + label{
			color:blue;
		} 
	}
	& label{
		cursor: pointer;
	}
}
.burger{
	margin-right: 25px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 16px;
	height: 14px;
	cursor: pointer;
	span{
		transition-duration: 0.5s;
		display: block;
		width: 12px;
		height: 2px;
		background: blue;
		border-radius: 20px;
	}
	span:nth-child(1){
		width: 100%;
	}
	&.active{
		span{
			width: 20px;
		}
		span:nth-child(1){
			transform: scale(0);
		}
		span:nth-child(2){
			transform: translateY(1px) rotate(45deg);
		}
		span:nth-child(3){
			transform: translateY(-5px) rotate(-45deg);
		}
	}
}
.logo{
	display: flex;
	color: blue;
}
.menu ul,.header__end{
	display: flex;
	align-items: center;
}
.reg a{
	display: block;
	background: blue;
	color: white;
	padding: 12px 24px;
	border-radius: 16px;
	margin-left: 16px;
}
.reg-img{
	display: none;
}

// block1 ---------------------------------------------------
.block1{
background: rgb(148,61,198);
background: linear-gradient(20deg, rgba(148,61,198,0.4256495786516854) 0%, rgba(0,212,255,0) 51%);
}
.container-flex{
	display: flex;
	padding: 0 0 80px 0;
}
.block1-left{
	max-width: 628px;
}
.block1-right{
	img{
		height: 100%;
		max-width: 100%;
		object-fit: contain;
	}
}
h1{
	font-size: 56px;
	margin: 110px 0 40px 0;
	color: black;
}
p{
	margin: 0;
	font-size: 12px;
}
.block1 form{
	display: flex;
	max-width: 465px;
	margin-bottom: 16px;
	.gmail{
		flex:1 1 100%;
		border-radius: 16px;

	}
	.submit{
		color: blue;
	}
	input{
		border: none;
		font-size: 16px;
		padding: 20px 24px 16px;
	}
}
span{
	color: blue;
}
.block1--go-next{
	font-size: 16px;
	color: white;
	display: inline-block;
	margin: 125px 0 0 0;
	img{
		transform: translate(0,25%);
		margin-right: 8px;
	}
}
@media(max-width: 1023.98px){
	.container-flex{
		display: block;
	}
}
@media(max-width: 768px){
	.block1--go-next{
		display: none;
	}
	.block1{
background: rgb(148,61,198);
background: linear-gradient(36deg, rgba(148,61,198,0.4256495786516854) 3%, rgba(0,212,255,0) 68%);
	}
	h1{
		margin: 40px 0;
	}
}
@media(max-width: 425px){
	h1{
		font-size: 36px;
	}
	.block1 form input{
		font-size: 14px;
		padding:18px 24px 18px 16px;
	}
	.block1-left{
		margin-bottom: 40px;
	}
}

// block2-----------------------------------------------------
.block2{
	p{
		font-size: 18px;
		line-height: 24.3px;
	}
	h2,h3{
		color: black;
		margin: 0;
	}
	h2{
		padding: 80px 0 40px 0;
		font-size: 24px;
	}
	h3{
		font-size: 18px;	
		padding: 16px 0 16px 68px;
	}
	@media(max-width: 425px){
		h2{
			font-size: 18px;
			padding: 40px 0 30px 0;
		}
		p{
			font-size: 14px;
		}
	}
}
.block2-items{
	padding-bottom:80px;
	display: flex;
	justify-content:space-between;
	.block2-item{
		max-width:389px;
		&:nth-child(1) h3{background:url('../img/block2/01.png')left center no-repeat;}
		&:nth-child(2) h3{background:url('../img/block2/02.png')left center no-repeat;}
		&:nth-child(3) h3{background:url('../img/block2/03.png')left center no-repeat;}
	}
	@media(max-width:768px){
		flex-direction: column;
		.block2-item{
			max-width: 100%;
			margin:20px 0 ;
		}
	}
}

// block3---------------------------------------------

