*{
	box-sizing: border-box;
}

html,body{
	height: 100%;
}
body{
	margin: 0;
	color: grey;
	font-size: 18px;
}
html.active{
	overflow: hidden;
}
h1,h2,h3{
	color: initial;
	margin: 0;
}
h2{
	margin-top: 80px;
	font-size: 36px;
	@media(max-width: 425px){
		margin-top: 40px;
		font-size: 18px;
	}
}
h3{
	font-size: 24px;
	color: black;
	@media(max-width: 425px){
		font-size: 18px;
	}
}
p{
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
input,button{
	color: inherit;
	background: initial;
	border: none;
	&:focus{
		outline:none;
	}
}
img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.wrapper {
	@media(max-width: 425px){
		.header{
			padding-left:5px;
		}
		.burger{
			margin-left: 10px;
		}
	}
}
.container {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
}
.main--block{
	padding: 0 56px 80px;
	@media(max-width: 768px){
		padding: 0 20px 40px;
	}
}

// HEADER

.block1 {
	background: rgb(117,48,157);
	background: linear-gradient(39deg, rgba(117,48,157,0.4846383426966292) 5%, rgba(66,33,227,0.346997893258427) 18%, rgba(31,0,255,0) 40%);
}
.header{
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
	white-space: nowrap;
	@media(max-width:768px){
		.header--items.active,.header--lang.active{
			left: 0;
		}
		.header--items,.header--lang{
			position: absolute;
			z-index: 1;
			left: -200%;
		}
		.header--items{
			top: 53px;
		}
		.header--lang{
			font-size: 56px;
			bottom: 80px;
			@media(max-width: 425px){
				font-size:36px;
				bottom: 40px;
			}
		}
		.header--items{
			background:white;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			opacity: 0.95;
			outline: 100px solid white;
			&:before{
				font-size: 24px;
				content:"Меню";
				position: absolute;
				top: 80px;
				@media(max-width: 425px){
					font-size: 18px;
					top: 40px;
				}
			}
		}
		.header--item{
			margin: 0;
			font-size: 56px;
			margin-bottom: 15px;
			&:first-child{
				margin-top: 144px;
				@media(max-width: 425px){
					margin-top: 87px;				
				}
			}
			@media(max-width: 425px){
				font-size:36px;
			}
		}
	}
	@media(max-width:425px){
		padding: 12px 0;
		.button{
			display: none;
		}
		.button--img{
			display: block;
		}
	}
}

// BURGER
.burger {
	margin-right: 26px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 20px;
	height: 14px;
	cursor: pointer;
	span{
		transition-duration: 0.6s;
	}
	span:nth-child(2){
		transition-duration: 0.5s;
	}
	span:nth-child(2),span:nth-child(3){
		width: 14px;
	}
	@media(max-width:768px){
		display: flex;
	}
}
.burger.active{
	span:nth-child(1){
		transform: rotate(45deg) translate(3px,5.4px);
	}
	span:nth-child(2){
		transform:scale(0);
	}
	span:nth-child(3){
		transform: rotate(-45deg) translate(3px,-5.4px);
		width: 100%;
	}
}
.burger--line {
	display: inline-block;
	height: 2px;
	width: 100%;
	border-radius: 20px;
	background: blue;
}



.header--logo,.header--footer{
	z-index: 111;
}
.header--logo {
	display: flex;
	align-items: center;
}
.logo {
	color: blue;
}
.header--items {
	transition-duration: 0.7s;
}
.header--item {
	margin: 0 12px;
	transition-duration: 0.6s;
	&:hover{
		color: blue;
	}
}
.header--footer{
	display: flex;
}
.header--lang {
	transition-duration: 0.7s;
	margin-right: 16px;
	input:checked + label{
		color: blue;
	}
	input{
		display: none;
	}
}
.header--button {}
.button {
	padding: 12px 24px;
	background: blue;
	color: white;
	border-radius:16px;
}
.button--img{
	display: none;
}

// MAIN BLOCK1

.block1--items {
	display: flex;
}
.block1--left {
	max-width: 628px;
}
.block1--right {
	max-width: 628px;
	position: relative;
	flex: 1 1 100%;
}
.block1--title {
	font-weight: 500;
	margin: 120px 0 40px 0;
	font-size: 56px;
}
.block1--form {
	background:rgba(255, 255, 255, 0.5);
	border-radius: 16px;
	padding: 8px;
	display: flex;
	max-width: 465px;
	margin-bottom: 16px;
}
.block1--email {
	font-size: 18px;
	flex: 1 1 100%;
	@media(max-width:425px){
		font-size: 14px;
	}
}
.block1--submit {
	background:rgba(255, 255, 255, 1);
	color: blue;
}
.block1--p {
	font-size: 12px;
}
.block1--span {
	color: blue;
}
.block1--go-next {
	color: white;
	display: flex;
	align-items: center;
	margin: 126px 0 89px 0;
}

.block1--img{}
.block1--mouse {
	max-width: 24px;
	max-height: 32px;
	margin-right: 5px;
}

@media(max-width:768px){
	.block1{
		padding: 0 56px 40px;
		background: rgb(117,48,157);
		background: linear-gradient(43deg, rgba(117,48,157,0.3413799157303371) 0%, rgba(66,33,227,0.346997893258427) 19%, rgba(31,0,255,0) 52%);
	}
	.block1--items{
		display: block;
	}
	.block1--title{
		margin: 40px 0;
	}
	.block1--go-next{
		display: none;
	}
}
@media(max-width: 425px){
	.block1--title{
		font-size: 36px;
	}
	.block1{
		padding: 0 20px 40px;
	}
}

// BLOCK2

.block2--h2 {
	margin-bottom: 40px;
}
.block2--items {
	margin: 0 -24px;
	display: flex;
}
.block2--item {
	margin: 8px;
	max-width: 437px;
}
.block2--img{
	margin-right: 12px;
	max-width: 57px;
}
.block2--item-h3 {
	padding: 12px 0 12px 16px;
	white-space: nowrap;
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.block2--item-p {
	padding: 16px 24px 24px;
}
@media(max-width: 768px){
	.block2--items{
		display: block;
	}
	.block2--item{
		max-width: 100%;
	}
}
@media(max-width: 425px){
	.block2--h2{
		margin-bottom: 20px;
	}
	.block2--item-p{
		font-size: 14px;
		padding: 6px 24px 24px;
	}
	.block2--img{
		max-width: 36px;
	}
	.block2--item-h3{
		margin:0;
	}
}