* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body.active {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
}

p {
  margin: 0;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  -webkit-box-shadow: 0 0 25px 5px black;
          box-shadow: 0 0 25px 5px black;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.btn {
  padding: 20px 65px;
  background: transparent;
  border: 3px solid #A387C4;
  border-radius: 30px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background: #A387C4;
  color: white;
}
.btn:hover {
  background: transparent;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-box-shadow: 0 0 4px 1px white;
          box-shadow: 0 0 4px 1px white;
  letter-spacing: 1px;
  color: #4C3D74;
}

.burger {
  width: 40px;
  height: 40px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.burger span {
  background: white;
  width: 100%;
  height: 3px;
}
@media (max-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header {
  color: white;
  position: absolute;
  top: 105px;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 0 9.7222222222%;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-width: 130px;
}

.navigation {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
@media (max-width: 768px) {
  .navigation {
    position: absolute;
    top: 70px;
    left: -200%;
    width: 100%;
    height: 100vh;
    background: #4C3D74;
    border-right: 3px solid white;
    border-left: 3px solid white;
  }
  .navigation .list--links {
    display: block;
  }
  .navigation .list-link {
    padding: 15px 50px;
  }
  .navigation.active {
    left: 0;
  }
}

.list--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
}

.list-link {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border-bottom: 3px solid transparent;
}
.list-link:hover {
  border-bottom: 3px solid #A387C4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0 0 2px white;
}
.list-link:active {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.first-block {
  position: relative;
  color: white;
  background: #4C3D74;
  font-weight: 700;
  padding-top: 247px;
  padding-bottom: 182px;
}

.left-block {
  position: relative;
  z-index: 1;
  max-width: 660px;
}

.left-block--pre-title {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 20px;
}

.left-block--title {
  font-size: 50px;
  line-height: 66px;
  margin-bottom: 30px;
}

.left-block--text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 45px;
  max-width: 430px;
}

.left-block--container-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.left-block--container-links .btn:hover {
  color: white;
}

.right-block {
  top: 145px;
  right: 6.8965517241%;
  position: absolute;
  width: 472px;
  height: 472px;
  z-index: 0;
}

@media (max-width: 768px) {
  .first-block {
    padding-bottom: 100px;
  }
  .left-block {
    margin: 0 auto;
    text-align: center;
  }
  .left-block--pre-title {
    font-size: 16px;
    line-height: 21px;
  }
  .left-block--title {
    font-size: 30px;
    line-height: 40px;
  }
  .left-block--text {
    margin: 0 auto;
    font-size: 16px;
  }
  .btn {
    padding: 20px 90px;
    margin: 0 auto;
  }
  .right-block {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
  }
  .left-block--container-links {
    margin-top: 27px;
  }
}
.second-block {
  position: relative;
  padding: 167px 0 182px 0;
  color: #504178;
}

.block--img {
  position: absolute;
  right: 11.1111111111%;
  bottom: 0;
  width: 243px;
  height: 243px;
}

.second-block--title {
  text-align: center;
  font-size: 50px;
  line-height: 66px;
  margin-bottom: 46px;
}

.second-block--items {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 75px;
}

.second-block--item {
  position: relative;
  max-width: 333px;
  max-height: 138px;
  padding: 33px 15px 33px 55px;
  border: 3px solid #4C3D74;
  border-radius: 30px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.second-block--item:hover {
  -webkit-box-shadow: 0 0 13px 3px #4C3D74;
          box-shadow: 0 0 13px 3px #4C3D74;
}
.second-block--item:hover .second-block--item-img {
  left: -15px;
}

.second-block--item-img {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: absolute;
  top: 50%;
  left: 0;
  width: 85px;
  height: 85px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.second-block--item-text {
  max-width: 252px;
}
.second-block--item-text span {
  font-weight: 700;
}

.second-block--container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second-block--text {
  font-size: 20px;
  line-height: 150%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .second-block {
    padding: 90px 10px 257px;
  }
  .second-block--title {
    font-size: 30px;
    line-height: 40px;
  }
  .second-block--items {
    gap: 40px;
  }
  .second-block--item {
    max-width: 305px;
    margin: 0 auto;
  }
  .second-block--container-2 {
    gap: 34px;
  }
  .second-block--text {
    text-align: center;
  }
  .block--img {
    right: 50%;
    -webkit-transform: translate(50%);
            transform: translate(50%);
    width: 215px;
    height: 215px;
  }
}
.third-block {
  background: #4C3D74;
  color: white;
  padding: 168px 0 176px;
}

.third-block-container1--title {
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  margin-bottom: 40px;
}

.third-block-container1--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 161px;
}

.third-block-container1--item {
  margin: 0 auto;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
}
.third-block-container1--item span {
  font-weight: 700;
}
.third-block-container1--item:hover {
  text-shadow: 0 0 3px white;
}
.third-block-container1--item:hover .third-block-container1-item--img {
  top: -15px;
}

.third-block-container1-item--img {
  position: relative;
  top: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 66px;
  height: 66px;
}

.third-block-container1-item--text {
  max-width: 277px;
}

@media (max-width: 768px) {
  .third-block {
    padding: 91px 0 110px;
  }
  .third-block-container1--title {
    font-size: 30px;
    line-height: 150%;
  }
  .third-block-container1-item--img {
    width: 46px;
    height: 46px;
  }
}
.third-block--container2 h2 {
  font-size: 50px;
  line-height: 66px;
}
.third-block--container2 article {
  font-size: 16px;
  line-height: 150%;
  font-weight: 100;
}
.third-block--container2 article span {
  font-weight: 800;
}

.container2--title {
  text-align: center;
  margin-bottom: 30px;
}

.third-block-container2--main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.third-block-container2--containe {
  max-width: 657px;
}

.container2-containe--text1 {
  margin-bottom: 38px;
  max-width: 620px;
}

.container2-containe--text2 {
  margin-bottom: 20px;
  max-width: 600px;
}

.container2-containe--items {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container2-containe--item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.container2-containe-item--title {
  margin-bottom: 7px;
}

.container2-containe-item--sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.third-block-container2--img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 400px;
  height: 490px;
  position: relative;
}

@media (max-width: 768px) {
  .third-block-container2--main-container {
    max-width: 300px;
    margin: 0 auto;
  }
  .third-block--container2 h2 {
    font-size: 30px;
    line-height: 150%;
  }
  .container2-containe-item--title {
    font-size: 30px;
    line-height: 40px;
  }
  .container2-containe-item--sub-title {
    font-size: 16px;
    line-height: 150%;
  }
}
.fourth-block {
  position: relative;
  padding: 168px 0 182px;
  color: #504178;
}

.fourth-block--title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  line-height: 66px;
}

.fourth-block--items {
  margin-bottom: 50px;
}

.fourth-block--item {
  border-bottom: 3px solid #4C3D74;
}
.fourth-block--item:first-child {
  border-top: 3px solid #4C3D74;
}

.fourth-block-item--title {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  background: white;
  padding: 15px 0;
}
.fourth-block-item--title:before, .fourth-block-item--title:after {
  content: "";
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  position: absolute;
  top: 50%;
  right: 10px;
  background: #504178;
  width: 10px;
  height: 1px;
}
.fourth-block-item--title:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.fourth-block-item--title.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.fourth-block-item--title.active:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.fourth-block-item--title.active ~ .fourth-block--text {
  opacity: 1;
  max-height: 150px;
  padding-bottom: 15px;
  visibility: visible;
  overflow: auto;
}

.fourth-block--text {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
}

.fourth-block--container {
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.fourth-block--container a {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.fourth-block-item-container--text {
  font-size: 20px;
  line-height: 150%;
  font-weight: 900;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 768px) {
  .fourth-block {
    padding: 95px 0 260px;
  }
  .fourth-block--title {
    font-size: 30px;
    line-height: 150%;
    max-width: 300px;
    margin: 0 auto 57px;
  }
  .fourth-block--items {
    padding: 0 57px;
  }
  .fourth-block--container a {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .fourth-block-item-container--text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
  }
}
.fifth-block {
  padding: 168px 0 177px;
  background: #4C3D74;
  color: white;
}

.fifth-block--title {
  font-weight: 700;
  font-size: 50px;
  line-height: 66px;
  text-align: center;
  margin-bottom: 45px;
}

.fifth-block--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 93px;
}

.fifth-block--item--img {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  width: 147px;
  height: 147px;
  -webkit-transform: translate(30%, -50%);
          transform: translate(30%, -50%);
}

.fifth-block--item {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: relative;
  color: #4C3D74;
  padding: 57px 30px;
  max-width: 364px;
  border: 3px solid #4C3D74;
  border-radius: 30px;
  background: white;
}
.fifth-block--item:hover {
  -webkit-box-shadow: 0 0 15px 2px white;
          box-shadow: 0 0 15px 2px white;
}
.fifth-block--item:hover .fifth-block--item--img {
  top: -10px;
}
.fifth-block--item .btn {
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
.fifth-block--item .btn:hover {
  background: #4C3D74;
  color: white;
}

.fifth-block-item--title {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
}

.fifth-block-item--points {
  margin-bottom: 18px;
}

.fifth-block-item--posnt {
  padding-left: 25px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  position: relative;
}
.fifth-block-item--posnt:before, .fifth-block-item--posnt:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 4px;
  background: #4C3D74;
}
.fifth-block-item--posnt:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.point--minus:before {
  width: 10px;
}
.point--minus:after {
  display: none;
}

.fifth-block-item--sub-title {
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 11px;
}

.fifth-block-item--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pre-price {
  font-size: 12px;
  line-height: 150%;
}
.pre-price span {
  font-weight: 900;
}

.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.fifth-block--contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fifth-block--contain--btn {
  padding: 20px 40px;
}
.fifth-block--contain--btn:hover {
  background: #4C3D74;
  color: white;
}

.fifth-block-contain--img {
  width: 64px;
  height: 64px;
  position: relative;
}

.fifth-block-contain--text {
  max-width: 600px;
}

@media (max-width: 768px) {
  .fifth-block {
    padding: 90px 0;
  }
  .fifth-block--title {
    font-size: 30px;
    line-height: 40px;
  }
  .fifth-block--items {
    padding: 0 25px;
    gap: 70px;
  }
  .fifth-block--item--img {
    width: 98px;
    height: 98px;
  }
  .fifth-block--item {
    margin: 0 auto;
    padding: 57px 0 57px 20px;
  }
  .fifth-block--item .btn {
    padding: 20px 50px;
  }
  .fifth-block--contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
  .fifth-block-contain--text {
    text-align: center;
  }
}
.sixth-block .sixth-block--img {
  position: relative;
  width: 46px;
  height: 46px;
}
@media (max-width: 768px) {
  .sixth-block .sixth-block--img {
    margin: 0 auto;
  }
  .sixth-block .sixth-block--img .fourth-block--title {
    max-width: 300px;
    text-align: center;
  }
}
.sixth-block .fourth-block--container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sixth-block .fourth-block--container .fourth-block-item-container--text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 380px;
}

.footer {
  padding: 125px 0 115px;
  background: #251933;
  color: white;
}

.footer-container--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center {
  text-align: center;
}

.footer-container--item {
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-container--item:last-child {
  text-align: end;
}
.footer-container--item a {
  text-decoration: underline;
}

.footer-container-item--text {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .footer {
    padding: 83px 0 93px;
  }
  .footer-container--items {
    padding: 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container--item {
    font-weight: 700;
    font-size: 12px;
  }
  .footer-container--item:last-child {
    text-align: left;
  }
  .footer-container--item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .center {
    text-align: left;
  }
  .footer-container-item--text {
    margin-bottom: 11px;
  }
}