@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: grey;
  font-size: 18px;
}

html.active {
  overflow: hidden;
}

h1, h2, h3 {
  color: initial;
  margin: 0;
}

h2 {
  padding-top: 80px;
  font-size: 36px;
}
@media (max-width: 425px) {
  h2 {
    padding-top: 40px;
    font-size: 18px;
  }
}

h3 {
  font-size: 24px;
  color: black;
}
@media (max-width: 425px) {
  h3 {
    font-size: 18px;
  }
}

p {
  display: inline-block;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

input, button {
  color: inherit;
  background: initial;
  border: none;
}
input:focus, button:focus {
  outline: none;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  height: 100vh;
}
@media (max-width: 425px) {
  .wrapper .header {
    padding-left: 5px;
  }
  .wrapper .burger {
    margin-left: 10px;
  }
}

.wrapper.active {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1279.98px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1023.98px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 425px;
  }
}

.main--block {
  padding: 0 56px 80px;
}
@media (max-width: 768px) {
  .main--block {
    padding: 0 20px 40px;
  }
}

.block1 {
  background: rgb(117, 48, 157);
  background: linear-gradient(39deg, rgba(117, 48, 157, 0.4846383427) 5%, rgba(66, 33, 227, 0.3469978933) 18%, rgba(31, 0, 255, 0) 40%);
}

.header {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .header .header--items.active, .header .header--lang.active {
    left: 56px;
  }
}
@media (max-width: 768px) and (max-width: 425px) {
  .header .header--items.active, .header .header--lang.active {
    left: 20px;
  }
}
@media (max-width: 768px) {
  .header .header--items, .header .header--lang {
    position: absolute;
    z-index: 1;
    left: -200%;
  }
  .header .header--items {
    top: 53px;
  }
  .header .header--lang {
    font-size: 56px;
    bottom: 80px;
  }
}
@media (max-width: 768px) and (max-width: 425px) {
  .header .header--lang {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .header .header--items {
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    outline: 100px solid white;
  }
  .header .header--items:before {
    font-size: 24px;
    content: "Меню";
    position: absolute;
    top: 80px;
  }
}
@media (max-width: 768px) and (max-width: 425px) {
  .header .header--items:before {
    font-size: 18px;
    top: 40px;
  }
}
@media (max-width: 768px) {
  .header .header--item {
    margin: 0;
    font-size: 56px;
    margin-bottom: 15px;
  }
  .header .header--item:first-child {
    margin-top: 144px;
  }
}
@media (max-width: 768px) and (max-width: 425px) {
  .header .header--item:first-child {
    margin-top: 87px;
  }
}
@media (max-width: 768px) and (max-width: 425px) {
  .header .header--item {
    font-size: 36px;
  }
}
@media (max-width: 425px) {
  .header {
    padding: 12px 0;
  }
  .header .button {
    display: none;
  }
  .header .button--img {
    display: block;
  }
}

.burger {
  margin-right: 26px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20px;
  height: 14px;
  cursor: pointer;
}
.burger span {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
.burger span:nth-child(2) {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.burger span:nth-child(2), .burger span:nth-child(3) {
  width: 14px;
}
@media (max-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(3px, 5.4px);
          transform: rotate(45deg) translate(3px, 5.4px);
}
.burger.active span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(3px, -5.4px);
          transform: rotate(-45deg) translate(3px, -5.4px);
  width: 100%;
}

.burger--line {
  display: inline-block;
  height: 2px;
  width: 100%;
  border-radius: 20px;
  background: blue;
}

.header--logo, .header--footer {
  z-index: 111;
}

.header--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: blue;
}

.header--items {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.header--item {
  margin: 0 12px;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}
.header--item:hover {
  color: blue;
}

.header--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header--lang {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  margin-right: 16px;
}
.header--lang input:checked + label {
  color: blue;
}
.header--lang input {
  display: none;
}

.button {
  text-align: center;
  padding: 12px 24px;
  background: blue;
  color: white;
  border-radius: 16px;
}

.button--img {
  display: none;
}

.block1--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block1--left {
  max-width: 628px;
}

.block1--right {
  max-width: 628px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.block1--title {
  font-weight: 500;
  margin: 120px 0 40px 0;
  font-size: 56px;
}

.block1--form {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 465px;
  margin-bottom: 16px;
}

.block1--email {
  font-size: 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
@media (max-width: 425px) {
  .block1--email {
    font-size: 14px;
  }
}

.block1--submit {
  background: rgb(255, 255, 255);
  color: blue;
}

.block1--p {
  font-size: 12px;
}

.block1--span {
  color: blue;
}

.block1--go-next {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 126px 0 89px 0;
}

.block1--mouse {
  max-width: 24px;
  max-height: 32px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .block1 {
    padding: 0 56px 40px;
    background: rgb(117, 48, 157);
    background: linear-gradient(43deg, rgba(117, 48, 157, 0.3413799157) 0%, rgba(66, 33, 227, 0.3469978933) 19%, rgba(31, 0, 255, 0) 52%);
  }
  .block1--items {
    display: block;
  }
  .block1--title {
    margin: 40px 0;
  }
  .block1--go-next {
    display: none;
  }
}
@media (max-width: 425px) {
  .block1--title {
    font-size: 36px;
  }
  .block1 {
    padding: 0 20px 40px;
  }
}
.block2--h2 {
  margin-bottom: 40px;
}

.block2--items {
  margin: 0 -24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block2--item {
  background: rgba(255, 255, 255, 0.5);
  margin: 8px;
  max-width: 437px;
}

.block2--img {
  margin-right: 12px;
  max-width: 57px;
}

.block2--item-h3 {
  padding: 12px 0 12px 16px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.block2--item-p {
  padding: 16px 24px 24px;
}

@media (max-width: 768px) {
  .block2--items {
    display: block;
  }
  .block2--item {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .block2--h2 {
    margin-bottom: 20px;
  }
  .block2--item-p {
    font-size: 14px;
    padding: 6px 24px 24px;
  }
  .block2--img {
    max-width: 36px;
  }
  .block2--item-h3 {
    margin: 0;
  }
}
.block3 {
  background: rgb(117, 48, 157);
  background: linear-gradient(37deg, rgba(220, 103, 78, 0.338570927) 10%, rgba(78, 36, 211, 0) 29%, rgba(66, 33, 227, 0) 50%), linear-gradient(217deg, rgba(215, 78, 220, 0.3245259831) 5%, rgba(54, 36, 211, 0.1812675562) 22%, rgba(66, 33, 227, 0) 31%);
}

.block3--h2 {
  margin-bottom: 40px;
}

.block3--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block3-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.block3--right {
  margin-left: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.block3--right p:nth-child(3) {
  color: blue;
}

.block3--header {
  max-width: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  color: white;
}
.block3--header span:nth-child(1):hover, .block3--header span:nth-child(3):hover, .block3--header span:nth-child(5):hover {
  color: blue;
}

.block3-right-h2 {
  padding-top: 30px;
  margin-bottom: 16px;
}

.block3--p {
  margin-bottom: 16px;
}

.block3--button {
  display: inline-block;
  margin-top: 70px;
}

@media (max-width: 768px) {
  .block3--items {
    display: block;
  }
  .block3--button {
    margin-top: 40px;
  }
}
@media (max-width: 425px) {
  .block3 {
    background: rgb(215, 78, 220);
    background: linear-gradient(225deg, rgba(215, 78, 220, 0.3245259831) 5%, rgba(54, 36, 211, 0.1812675562) 22%, rgba(66, 33, 227, 0) 81%);
  }
  .block3 span {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .block3--button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block3-right-h2 {
    padding-top: 0;
    font-size: 24px;
  }
  .block3--h2 {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .block3--header {
    margin-top: 0;
  }
  .block3--right {
    margin-left: 0;
  }
}
.block2--item-titleBlock {
  padding: 20px 0;
}

.block4--h2 {
  line-height: 40.32px;
  margin-bottom: 40px;
}
@media (max-width: 490px) {
  .block4--h2 {
    padding-top: 20px;
    margin-bottom: 0px;
  }
}

.block4--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block4--items .block--item-p {
  background: url("../img/block4/agree.svg") no-repeat 10px 12px;
}
.block4--items .block4--item:nth-child(1) p:nth-child(2), .block4--items .block4--item:nth-child(1) p:nth-child(3), .block4--items .block4--item:nth-child(1) p:nth-child(4) {
  background: url("../img/block4/dis.svg") no-repeat 10px 12px;
}
.block4--items .block4--item:nth-child(2) p:nth-child(3), .block4--items .block4--item:nth-child(2) p:nth-child(4) {
  background: url("../img/block4/dis.svg") no-repeat 10px 12px;
}
.block4--items .block4--item:nth-child(3) p:nth-child(4) {
  background: url("../img/block4/dis.svg") no-repeat 10px 12px;
}

.block4--item {
  padding: 0 24px 24px 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.84375%;
          flex: 0 1 24.84375%;
}
@media (max-width: 1023.98px) {
  .block4--item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
  }
}
@media (max-width: 768px) {
  .block4--item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 495px) {
  .block4--item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.block4--item-title {
  margin-bottom: 8px;
}

.block--item-subTitle {
  line-height: 100%;
  font-size: 24px;
}
.block--item-subTitle span {
  color: blue;
}

.block--item-ps {
  margin-top: 24px;
}

.block--item-p {
  line-height: 24.3px;
  padding-left: 48px;
}
.block--item-p:not(:last-child) {
  margin-bottom: 16px;
}

.block--item-button {
  background: white;
  color: blueviolet;
  margin-top: 16px;
  width: 100%;
}